.main_info__header {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 55px;
  color: #000000;
  max-width: 490px;
}

.main_info {
  padding: 86px 163px 86px 163px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* Медиа-запросы */
@media (max-width: 1380px) {
  .main_info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main_info__header {
    margin: 0 0 40px 0;
    max-width: none;
    text-align: center;
  }
}

.main_info__big_image{
  display: block;
}

.main_info__small_image{
  display: none;
}

@media (max-width: 700px) {
  .main_info__header {
    font-size: 28px;
    line-height: 34px;
    margin: 15px 0 40px 0;
    text-align: center;
  }
  .main_info{
    align-items: flex-start;
    padding: 20px;
  }
}

@media(max-width: 600px){
  .main_info__big_image{
    display: none;
  }
  .main_info{
    background-image: url(../../images/main_info_big_image.png);
    background-image: -webkit-image-set(url(../../images/main_info_big_image.png) 1x);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    padding-bottom: 100px;
  }
  .main_info__header {
    font-size: 24px;
    line-height: 29px;
  }
  .main_info__header{
    color: #fff;
  }
}
